.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: grey;
  cursor: pointer;
}
.headerOption:hover {
  color: black;
}
.headerOption__Title {
  font-size: 14px;
  font-weight: 500;
}
.headerOption__Icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
